
body {
	background-color: black;
	font-family: 'Harmattan', sans-serif;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 2px;
}

.navbar {
	list-style-type: none;
	display: flex;
	top: 33px;
	margin-left: -30px;
	background-color: #313030;
	width: 60%;
	height: 30px;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
	color: #fff;
}

.logo img {
	height: 45px;
	width: 50px;
	margin-left: -20px;
}

.hero {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.hero .photo {
	order: 2;
	margin-top: -40px;
	z-index: -1;
}

.hero .name {
	order: 1;
	margin-bottom: -50px;
}

.hero .name h1 {
	font-size: 2.5em;
	line-height: .4em;
}

.hero .name h2 {
	border: none;
	font-size: 1.6em;
	line-height: 0em;
}

.mumquote {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 120px;
}

.mumquote h3 {
	order: 1;
	margin-bottom: 0;
	margin-top: 0;
}

.mumquote h4 {
	order: 2;
	margin-top: 0;
	margin-bottom: 10px;
}

.down {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 65px;
}

h2 {
	border-top: 1px solid #fff;
	margin-top: 5px;
	margin-bottom: 40px;
	letter-spacing: 8px;
}

h5 {
	color: #B2B2B2;
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-top: 35px;
}

.sectionOne {
	background-color: #434343;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex: center;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -79px;
}

.sectionOne .dotmap {
		order: 1;
}

.sectionOne .headtail {
		order: 2;
}

.sectionOne .magic {
		order: 3;	
}

.sectionOne .robot {
		order: 4;	
}

.sectionOne .investoring {
		order: 5;	
}

.sectionOne .bubblepopper {
		order: 6;	
}

.sectionTwo, .sectionThree {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 0px;
}

.sectionTwo img, .sectionThree img {
	height: 30px;
	width: 30px;
}

.video {
	background-color: #434343;
	height: 180px;
	width: 170px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sectionFour {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 30px;
}

.sectionFour img {
	height: 40px;
	width: 40px;
}

p {
	text-align: center;
	font-size: 18.72px;
	margin: 60px 10px;
}

.form_container {
	display: flex;
}

.form {
	justify-content: space-around;
	margin: 0 auto;
}

.svg-wrapper {
  margin: 0 auto;
  width: 100px;
  max-height:40px;
}

.shape {
  stroke-dasharray: 15 310;
  stroke-dashoffset: 140;
  stroke-width: 8px;
  stroke: white;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.jump-to-top-text {
  font-size: 1.5rem;
  line-height: 32px;
  top: -48px;
  position: relative;
  text-align: center;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}


@media (min-width: 600px) {
	html {
		max-width: 900px;
		margin: auto;
	}

	.logo img {
		height: 55px;
		width: 60px;
	}

	.hero .name h1 {
		font-size: 3.5em;
		line-height: .4em;
	}

	.hero .name h2 {
		border: none;
		font-size: 2.3em;
		line-height: 0em;
	}

	.sectionOne {
		margin-top: -93px;
	}

	h2 {
		font-size: 2em;
	}

	p {
		font-size: 1.3em;
	}

}
