html {
	width: 100%vw;
}

body {
	background-color: black;
	font-family: 'Harmattan', sans-serif;
	color: #fff;
	margin-left: 30px;
	margin-right: 30px;
}

.navbar {
	list-style-type: none;
	display: flex;
	top: 33px;
	z-index: -9;
	margin-left: -30px;
	background-color: #313030;
	width: 55%;
	height: 35px;
	justify-content: space-around;
	align-items: center;

}

.navbar li a {
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
}

.navbar li a:hover {
	color: #bd0a03;
	text-shadow: 1px 1px 2px #000;
}

.logo img {
	height: 60px;
	width: 65px;
	margin-left: -20px;
}

header {
	position: relative;
	margin: 50px -185px 0 0;
}

.hero {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.hero .photo {
	order: 2;
	margin-top: -40px;

}

.hero .name {
	order: 1;
	margin-bottom: -100px;
}

.hero .name h1 {
	font-size: 3.8em;
	line-height: .4em;
}

.hero .name h2 {
	border: none;
	font-size: 2.2em;
	line-height: 0em;
}

.mumquote {
	font-size: 1.4em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 180px;
}

.mumquote h3 {
	order: 1;
	margin-bottom: 0;
}

.mumquote h4 {
	order: 2;
	margin-top: 0;
}

.down {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 65px;
}

h2 {
	border-top: 1px solid #fff;
	margin-top: 5px;
}

h5 {
	text-align: center;
}

.sectionOne {
	background-color: #434343;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sectionOne .dotmap {
		order: 1;
}

.sectionOne .headtail {
		order: 2;
}

.sectionOne .magic {
		order: 3;	
}

.sectionOne .robot {
		order: 4;	
}

.sectionOne .investoring {
		order: 5;	
}

.sectionOne .bubblepopper {
		order: 6;	
}

.sectionTwo {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 0px;
}

.sectionTwo img {
	height: 30px;
	width: 30px;
}

.video {
	background-color: #434343;
	height: 90px;
	width: 90px;
	margin: auto;
}

.sectionThree {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 0px;
}

.sectionThree img {
	height: 30px;
	width: 30px;
}

.sectionFour {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 30px;
}

.sectionFour img {
	height: 40px;
	width: 40px;
}

p {
	text-align: center;
}
@media (min-width: 500px) {


}

/*
Stripes-item
width: 1px;
line-height: 18ps;
height: 907px;
font-weight: 300;
fint-ize: 13px;
color: rgb(50, 50, 50);
box-sizing: border-box;
background-size: auto;
background-origin: rgba(0, 0, 0, 0.0666667);
background-clip: border-box;
bakcgournd-attachment: scroll;
font-family: 'Harmattan', sans-serif;
*/